apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../baseTypes/c
  - ../baseTypes/m
  - ../baseTypes/r

nameSuffix: .large

patches:
  - path: c.yaml
    target:
      name: c
  - path: m.yaml
    target:
      name: m
  - path: r.yaml
    target:
      name: r
